<section class="profile side-section">
  <div class="avatar" style="background-image: url(<%= gravatar_url data.resume.info.email %>)"></div>

  <div class="printable">
    <h1 class="main-title titlecol fittext"><span><%= data.resume.info.myname %></span></h1>
    <h2 class="main-sub-title titlecol"><span><%= data.resume.info.desc %></span></h2>
  </div>
</section>
