<section class="section summary-section not-printable" style="margin-bottom: 0!important">
    <h1 class="main-title titlecol fittext"><span><%= data.resume.info.myname %></span></h1>
    <h2 class="main-sub-title titlecol fittext"><span><%= data.resume.info.desc %></span></h2>
</section>
