---
title: AVALON ARCADE
layout: "layout"
---

<div class="main_area avalon">

  <h2>Avalon Arcade</h2>
  <h4>A <strong>WEB DEV</strong> Dashboard</h4>

  <hr class="thirteen" />

  <p>This project is a work in progress. While it's not quite a version 1.0 release, it's getting close.</p>
  <p>The end result will be a helpful tool for debugging and development.</p>
  <p>The list below shows some of the features that are implemented, and/or are in progress:</p>

  <div class="promo-list">
    <ul>
      <li>Responsive Website Debugging</li>
      <li>Page Link Checker</li>
      <li>Live CSS Stats</li>
      <li>Styleguide Generator</li>
      <li>A11Y Compatibility</li>
    </ul>
  </div>

  <div class="promo-img">
    <img src="/images/avalon.jpg" class="lg-promo-img" />
  </div>
</div>
