<div class="main_area mapping">
  <h2>Avalon Arcade</h2>
  <h4>Managing oilfield data on the fly</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, earum molestias rerum, quibusdam id voluptatem beatae ipsa quos culpa amet tenetur qui veniam, error iusto magnam quisquam minima sed neque.</p>
</div>
