<div class="main_area frankieshaw">
  <h2>I <i class="fa fa-heart fa-2x"></i> Frankie Shaw</h2>
  <h4>Managing oilfield data on the fly</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, earum molestias rerum, quibusdam id voluptatem beatae ipsa quos culpa amet tenetur qui veniam, error iusto magnam quisquam minima sed neque.</p>
</div>
