---
title: Frankie Shaw
layout: "layout"
---

<% content_for :assets do %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Cabin+Sketch:700|Libre+Barcode+128+Text' %>
<% end %>

<canvas id="granim-canvas" class="art-page"></canvas>

<div class="artwork" id="artpage">

  <header>
    <h1>FRANKIE SHAW<br><span>Yoda call the storm guards, Kylos got shards!</span></h1>
  </header>

  <div id="top"></div>

  <!-- IMAGE GALLERY -->
  <section class="gallery">
  	<div class="row">
      <h3>TODO</h3>
  	</div>
  </section>

</div>
